meta(charset="utf-8")
meta(name="description" content="")
meta(name="author" content="")
meta(name="viewport" content="")
link(rel="stylesheet" href="")
link(rel="shortcut icon" href="")
title #{Title}
// title page1_headで書いたタイトル
